.firstLine{
    color:blue;
    font-size: 200px;
    text-align: center;
  
    
}
.firstLine1{
    color:red;
    font-size: 200px;
    text-align: center;
}

.firstLine2{
    color:orangered;
    font-size: 200px;
    text-align: center;
}